<!-- friend_post.html -->
{% extends "base.html" %}
{% block title %}添加好友{% endblock %}
{% block content %}
<div>
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			<form name='my form' action='.' method='POST'>
			{% csrf_token %}
			<h3> 添加好友</h3>
		</div>
		{% if message %}
			<div class='alert alert-warning'>{{ message }}</div>
			{{ user_name }}<br/>
			{{ name}}<br/>
			{{ sex }}<br/>
			{{ discription }}<br/>
			{{ address }}<br/>
			{{ email }}<br/>
			{{ hobby }}<br/>
			{{ star }}<br/>
			{{ id }}
		{% endif %}
		<div class='panel-body'>
			{{ form.as_p }}
		</div>
		<div class='panel-footer'>
			<input type='submit' value='提交'>
			<a href='/friend/'><input type='button' value='取消' href='/friend/'></a>
			</form>
		</div>
	</div>
</div>
{% endblock %}