<!-- friend.html -->
{% extends 'base2.html' %}
{% block slogan %}<h1 style="font-family:微软雅黑;">相伴致远</h1>{% endblock %}
{% block list %}
	<a href='/friend/' class='list-group-item'>Friend</a>
	<a href='/friend_post/' class='list-group-item'>添加好友</a>
{% endblock %}
{% block headmessage %}<h3 style="font-family:楷体;">好友圈</h3>{% endblock %}
{% block panel_content %}
	<div class='panel panel-default'>
		{% for friend in friends %}
			<br>
			<div class='heading'>
				<p style='font-family:微软雅黑;font-siez:14pt;font-weight:bold;'>
				 <a href='/friend/{{ friend.id }}'>{{ friend.name }}</a>
				</p>	
			</div>
			<div class='panel-body' style='background-color:#ffffdd'>
				<p>
				  {{ friend.discription | truncatechars:40 }}
				</p>
			</div>
			<div class='panel-footer' style='background-color:#efefef'>
				<p>
					爱好：{{ friend.hobby }}
				</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}