<!-- header.html -->
	<nav class='navbar navbar-default'>
		<div class='container-fluid'>
			<div class='navbar-header'>
				<div class='navbar-brand' align=center>
					MiniWebLog
				</div>
			</div>
			<ul class='nav navbar-nav'>
				<li class='active'><a href='/'>Home</a></li>
				<li><a href='/article'>文章</a></li>
				<li><a href='/friend'>好友</a></li>
				<li><a href='/photo'>相册</a></li>
				<li><a href='/contact'>联络管理员</a></li>
				<li><a href='/admin'>后台管理</a></li>
			</ul>
		</div>
	</nav>